table.dataTable thead > tr > th > span.dt-column-order::before, table.dataTable thead > tr > th > span.dt-column-order::after {
    /* QUICK FIX for arrow gap */
    line-height: 12px !important; 
}

.apexcharts-tooltip {
    border-radius: 0.5rem !important;
    /* color: initial !important;
    background: initial !important; */
}