@tailwind base;

@layer base {
    .external-link::after {
        @apply size-4;
        @apply ms-1;
        @apply inline-block;
        content: " ";
        background-size: 1rem 1rem;
        background-image: url(/assets/images/external_link.svg);
      }
}

@tailwind components;
@tailwind utilities;