---
layout: base.njk
title: Details
css:
  - custom.css
  - tailwind.css
  - https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.min.css
  - https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css
js:
  - header.js
  - https://code.jquery.com/jquery-3.7.1.min.js
  - https://cdn.datatables.net/2.0.4/js/dataTables.min.js
  - https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js
  - https://cdn.jsdelivr.net/npm/apexcharts
  - https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js
  - library/datamaps.world.min.js
  - details.js
pagination:
  data: funding
  size: 1
  alias: entry
permalink: "details/{{ entry.name | transformFunding | slugify }}/"
---
<main class="flex flex-col gap-8 max-w-5xl p-4 mx-auto">
    <article class="mt-8 sm:mt-16 md:mt-24 max-w-3xl">
        <h1 class="text-5xl font-bold">{{ entry.name | transformFunding }}</h1>
        <p>
            This sponsor has funded <span class="font-semibold">{{ entry.num_studies }} studies</span> across <span class="font-semibold">{{ entry.number_of_countries }} countries</span>.
        </p>
        <div class="w-full aspect-square max-w-lg mx-auto">
            <div id="docsBar"
            data-past-collection="{{ entry.number_of_studies_with_past_data_collection }}"
            data-past-collection-with-protocols="{{ entry.number_of_studies_with_past_data_collection_and_protocols }}"
            data-past-report="{{ entry.number_of_studies_with_two_weeks_past_final_report }}"
            data-past-report-with-results="{{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }}"
            ></div>
        </div>
        {# <p class="mt-8">
            number_of_countries: {{ entry.number_of_countries }} <br>
            set_of_countries: {{ entry.set_of_countries }} <br>
            number_of_studies_with_updated_state_finalised: {{ entry.number_of_studies_with_updated_state_finalised }} <br>
            number_of_studies_with_updated_state_ongoing: {{ entry.number_of_studies_with_updated_state_ongoing }} <br>
            number_of_studies_with_updated_state_planned: {{ entry.number_of_studies_with_updated_state_planned }} <br>
            number_of_studies_with_rmp_1_(imposed_as_condition_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_2_(specific_obligation_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_3_(required): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }} <br>
            number_of_studies_with_rmp_non-eu_rmp_only: {{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }} <br>
            number_of_studies_with_rmp_not_applicable: {{ entry.number_of_studies_with_risk_management_plan_not_applicable }} <br>
            number_of_studies_with_rmp_nan: {{ entry.number_of_studies_with_risk_management_plan_nan }} <br>
            number_of_studies_with_result: {{ entry.number_of_studies_with_result }} <br>
            number_of_studies_with_protocol: {{ entry.number_of_studies_with_protocol }} <br>
            number_of_studies_with_past_data_collection: {{ entry.number_of_studies_with_past_data_collection }} <br>
            number_of_studies_with_past_data_collection_and_protocols: {{ entry.number_of_studies_with_past_data_collection_and_protocols }} <br>
            number_of_studies_with_two_weeks_past_final_report: {{ entry.number_of_studies_with_two_weeks_past_final_report }} <br>
            number_of_studies_with_two_weeks_past_final_report_and_results: {{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }} <br>
            study_ids: {{ entry.study_ids }} 
        </p> #}
    </article>

    <div class="flex flex-col bg-white border shadow-sm rounded-xl">
        <div class="bg-gray-100 border-b rounded-t-xl pt-3 px-4 md:pt-4 md:px-5">
            <nav class="flex space-x-2" aria-label="Tabs">
                
                <label class="-mb-px py-3 px-4 has-[:checked]:bg-white text-sm font-medium text-center border-b has-[:checked]:border has-[:checked]:border-b-transparent text-gray-500 rounded-t-lg hover:text-gray-700 focus:z-10 cursor-pointer" href="#">
                    RMP
                    <input class="sr-only" type="radio" name="tab" id="rmp" checked/>
                </label>

                <label class="-mb-px py-3 px-4 has-[:checked]:bg-white text-sm font-medium text-center border-b has-[:checked]:border has-[:checked]:border-b-transparent text-gray-500 rounded-t-lg hover:text-gray-700 focus:z-10 cursor-pointer" href="#">
                    State
                    <input class="sr-only" type="radio" name="tab" id="state"/>
                </label>

                <label class="-mb-px py-3 px-4 has-[:checked]:bg-white text-sm font-medium text-center border-b has-[:checked]:border has-[:checked]:border-b-transparent text-gray-500 rounded-t-lg hover:text-gray-700 focus:z-10 cursor-pointer" href="#">
                    Map
                    <input class="sr-only" type="radio" name="tab" id="map"/>
                </label>

            </nav>
        </div>
        <div class="p-4 md:py-7 md:px-5">
            
            <div id="rmpContainer">
                <h3 class="text-lg font-bold text-gray-800">
                Risk Management Plan (RMP)
                </h3>
                <p class="mt-1 text-xs font-medium uppercase text-gray-500">
                    {{ entry.name | transformFunding }}
                </p>
                <p class="mt-2 text-gray-500">
                    The RMP for a medical product outlines strategies to identify, assess, and mitigate risks, often leading to a Post-Authorization Study (PAS) for further safety evaluation.
                </p>
                <p class="mt-2 text-gray-500">
                    <span class="italic">Category 1</span> studies are imposed as condition of marketing authorisation. <br>
                    <span class="italic">Category 2</span> studies are imposed as specific obligation of marketing authorisation. <br>
                    <span class="italic">Category 3</span> studies are required under other circumstances.
                </p>
                <div id="rmpPie" class="max-w-2xl mx-auto my-4 aspect-square grid place-content-center font-sans"
                    data-rmp1="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }}"
                    data-rmp2="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }}"
                    data-rmp3="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }}"
                    data-rmp-non-eu="{{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }}"
                    data-rmp-na="{{ entry.number_of_studies_with_risk_management_plan_not_applicable }}"
                    data-rmp-ns="{{ entry.number_of_studies_with_risk_management_plan_nan }}"
                ></div>
            </div>

            <div id="stateContainer" class="hidden">
                <h3 class="text-lg font-bold text-gray-800">
                Study State
                </h3>
                <p class="mt-1 text-xs font-medium uppercase text-gray-500">
                    {{ entry.name | transformFunding }}
                </p>
                <p class="mt-2 text-gray-500">
                    The state of a study is derived from the provided timeline dates. Read more about this <a class="underline decoration-2 text-indigo-600 decoration-indigo-600" href="/about">here</a>. <br>
                </p>
                <p class="mt-2 text-gray-500">
                    <span class="italic">Planned</span> studies have not collected any data yet. <br>
                    <span class="italic">Ongoing</span> studies collect data and should publish protocols as soon as possible. <br>
                    <span class="italic">Finalised</span> studies should publish results in the first two weeks after finalisation.
                </p>
                <div id="statePie" class="max-w-2xl mx-auto my-4 aspect-square grid place-content-center"
                    data-planned="{{ entry.number_of_studies_with_updated_state_planned }}"
                    data-ongoing="{{ entry.number_of_studies_with_updated_state_ongoing }}"
                    data-finalised="{{ entry.number_of_studies_with_updated_state_finalised }}"
                ></div>
            </div>

            <div id="mapContainer" class="hidden">
                <h3 class="text-lg font-bold text-gray-800">
                    Study countries
                </h3>
                <p class="mt-1 text-xs font-medium uppercase text-gray-500">
                    {{ entry.name | transformFunding }}
                </p>
                <p class="mt-2 text-gray-500">
                    Studies were conducted in the following {{ entry.set_of_countries | split('; ') | length }} countries:
                </p>
                <ul class="mt-4 -mx-5 px-5 flex flex-wrap gap-4 justify-between max-h-64 overflow-y-auto">
                    {% for country in entry.set_of_countries | split('; ') %}
                        <li><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-indigo-100 text-indigo-800">{{ country }}</span></li>
                    {% endfor %}
                </ul>
    
                <div id="mapChart" class="relative w-full aspect-[4/3]" data-countries="{{ entry.set_of_countries | getCountryCodes }}"></div>
                                
            </div>
            
        </div>
    </div>

    {# <div class="flex flex-col lg:flex-row gap-8 justify-stretch">
        <div id="rmpPie" class="w-full"
            data-rmp1="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }}"
            data-rmp2="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }}"
            data-rmp3="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }}"
            data-rmp-non-eu="{{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }}"
            data-rmp-na="{{ entry.number_of_studies_with_risk_management_plan_not_applicable }}"
            data-rmp-ns="{{ entry.number_of_studies_with_risk_management_plan_nan }}"
        ></div>
        <div id="statePie" class="w-full"
            data-planned="{{ entry.number_of_studies_with_updated_state_planned }}"
            data-ongoing="{{ entry.number_of_studies_with_updated_state_ongoing }}"
            data-finalised="{{ entry.number_of_studies_with_updated_state_finalised }}"
        ></div>
    </div> #}

    {# <div>
        <div id="mapChart" class="relative w-full aspect-[4/3]" data-countries="{{ entry.set_of_countries | getCountryCodes }}"></div>

        <div class="flex flex-col bg-white border shadow-sm rounded-xl p-5 my-8">
            <h3 class="text-lg font-bold text-gray-800">
                Study countries
            </h3>
            <p class="mt-1 text-xs font-medium uppercase text-gray-500">
                {{ entry.name | transformFunding }}
            </p>
            <p class="mt-2 text-gray-500">
                Studies were conducted in the following {{ entry.set_of_countries | split('; ') | length }} countries:
            </p>
            <ul class="mt-4 -mx-5 px-5 flex flex-wrap gap-4 justify-start md:justify-between max-h-64 overflow-y-auto">
                {% for country in entry.set_of_countries | split('; ') %}
                    <li><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-indigo-100 text-indigo-800">{{ country }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div> #}

    <div class="my-8 -mx-4 md:mx-0">
        <table id="data" class="hover stripe row-border">
            <thead class="text-lg">
                <tr>
                    <th class="dt-head-left">EU&nbsp;PAS&nbsp;ID</th>
                    <th class="dt-head-left">State</th>
                    <th class="dt-head-left">Title</th>
                    <th class="dt-head-left">Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for id in entry.study_ids | split('; ') %}
                <tr>
                    <td class="tabular-nums">
                        {{ id }}
                    </td>
                    <td class="">
                        {% set text_color = 'text-indigo-800' %}
                        {% set bg_color = 'bg-indigo-100' %}
                        {% set badge_element %}
                            <span class="size-2 mx-1 inline-block rounded-full bg-indigo-800"></span>
                        {% endset %}
                        {% if studies[id].state == 'Planned' %}
                            {% set text_color = 'text-slate-900' %}
                            {% set bg_color = 'bg-slate-200' %}
                            {% set badge_element %}
                                <svg class="flex-shrink-0 size-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M128 0c13.3 0 24 10.7 24 24V64H296V24c0-13.3 10.7-24 24-24s24 10.7 24 24V64h40c35.3 0 64 28.7 64 64v16 48V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192 144 128C0 92.7 28.7 64 64 64h40V24c0-13.3 10.7-24 24-24zM400 192H48V448c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V192zm-95 89l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
                                </svg>
                            {% endset %}
                        {% elif studies[id].state == 'Ongoing' %}
                            {% set text_color = 'text-indigo-800' %}
                            {% set bg_color = 'bg-indigo-100' %}
                            {% set badge_element %}
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="12" x2="12" y1="2" y2="6"></line>
                                    <line x1="12" x2="12" y1="18" y2="22"></line>
                                    <line x1="4.93" x2="7.76" y1="4.93" y2="7.76"></line>
                                    <line x1="16.24" x2="19.07" y1="16.24" y2="19.07"></line>
                                    <line x1="2" x2="6" y1="12" y2="12"></line>
                                    <line x1="18" x2="22" y1="12" y2="12"></line>
                                    <line x1="4.93" x2="7.76" y1="19.07" y2="16.24"></line>
                                    <line x1="16.24" x2="19.07" y1="7.76" y2="4.93"></line>
                                </svg>
                            {% endset %}
                        {% elif studies[id].state == 'Finalised' %}
                            {% set text_color = 'text-emerald-800' %}
                            {% set bg_color = 'bg-emerald-100' %}
                            {% set badge_element %}
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m9 12 2 2 4-4"></path>
                                </svg>
                            {% endset %}
                        {% endif %}
                        <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium {{ text_color }} {{ bg_color }}">
                            {{ badge_element | safe }}
                            {{ studies[id].state }}
                        </span>
                    </td>
                    <td class="*:hover:underline *:hover:text-indigo-600 *:hover:decoration-indigo-600 hover:external-link">
                        <a target="_blank" class="underline-offset-4 decoration-2" href="{{studies[id].url}}">{{ studies[id].title | truncate(150)}}</a>
                    </td>
                    <td class="tabular-nums dt-body-center">
                        {{ studies[id].registration_date | date }}
                    </td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</main>