---
layout: base.njk
title: Details
css:
  - tailwind.css
js:
  - header.js
  - https://cdn.jsdelivr.net/npm/apexcharts
  - https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js
  - library/datamaps.world.min.js
  - details.js
pagination:
  data: funding
  size: 1
  alias: entry
permalink: "details/{{ entry.name | transformFunding | slugify }}/"
---
<main class="max-w-5xl p-4 mx-auto">
    <article class="my-24 max-w-3xl">
        <h1 class="text-2xl">{{ entry.name | transformFunding }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus rerum laborum doloribus possimus incidunt soluta corrupti maiores animi! Corrupti provident nemo tempora ullam repellat dicta saepe esse repellendus quis totam?</p>
        {# <p class="mt-8">
            number_of_collaborations_with_research_network: {{ entry.number_of_collaborations_with_research_network }} <br>
            number_of_countries: {{ entry.number_of_countries }} <br>
            set_of_countries: {{ entry.set_of_countries }} <br>
            min_number_of_subjects: {{ entry.min_number_of_subjects }} <br>
            max_number_of_subjects: {{ entry.max_number_of_subjects }} <br>
            mean_number_of_subjects: {{ entry.mean_number_of_subjects }} <br>
            median_number_of_subjects: {{ entry.median_number_of_subjects }} <br>
            number_of_studies_with_outcomes: {{ entry.number_of_studies_with_outcomes }} <br>
            number_of_studies_requested_by_regulator: {{ entry.number_of_studies_requested_by_regulator }} <br>
            number_of_studies_using_established_data_sources: {{ entry.number_of_studies_using_established_data_sources }} <br>
            number_of_studies_with_updated_state_finalised: {{ entry.number_of_studies_with_updated_state_finalised }} <br>
            number_of_studies_with_updated_state_ongoing: {{ entry.number_of_studies_with_updated_state_ongoing }} <br>
            number_of_studies_with_updated_state_planned: {{ entry.number_of_studies_with_updated_state_planned }} <br>
            number_of_studies_with_rmp_1_(imposed_as_condition_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_2_(specific_obligation_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_3_(required): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }} <br>
            number_of_studies_with_rmp_non-eu_rmp_only: {{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }} <br>
            number_of_studies_with_rmp_not_applicable: {{ entry.number_of_studies_with_risk_management_plan_not_applicable }} <br>
            number_of_studies_with_rmp_nan: {{ entry.number_of_studies_with_risk_management_plan_nan }} <br>
            number_of_studies_with_result: {{ entry.number_of_studies_with_result }} <br>
            number_of_studies_with_protocol: {{ entry.number_of_studies_with_protocol }} <br>
            number_of_studies_with_past_data_collection: {{ entry.number_of_studies_with_past_data_collection }} <br>
            number_of_studies_with_past_data_collection_and_protocols: {{ entry.number_of_studies_with_past_data_collection_and_protocols }} <br>
            number_of_studies_with_two_weeks_past_final_report: {{ entry.number_of_studies_with_two_weeks_past_final_report }} <br>
            number_of_studies_with_two_weeks_past_final_report_and_results: {{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }} <br>
        </p> #}
    </article>

    <div class="my-8">
        <div id="docsBar"
            data-past-collection="{{ entry.number_of_studies_with_past_data_collection }}"
            data-past-collection-with-protocols="{{ entry.number_of_studies_with_past_data_collection_and_protocols }}"
            data-past-report="{{ entry.number_of_studies_with_two_weeks_past_final_report }}"
            data-past-report-with-results="{{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }}"
        ></div>
    </div>

    <div class="flex flex-col lg:flex-row gap-8 justify-stretch">
        <div id="rmpPie" class="w-full"
            data-rmp1="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }}"
            data-rmp2="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }}"
            data-rmp3="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }}"
            data-rmp-non-eu="{{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }}"
            data-rmp-na="{{ entry.number_of_studies_with_risk_management_plan_not_applicable }}"
            data-rmp-ns="{{ entry.number_of_studies_with_risk_management_plan_nan }}"
        ></div>
        <div id="statePie" class="w-full"
            data-planned="{{ entry.number_of_studies_with_updated_state_planned }}"
            data-ongoing="{{ entry.number_of_studies_with_updated_state_ongoing }}"
            data-finalised="{{ entry.number_of_studies_with_updated_state_finalised }}"
        ></div>
    </div>

    <div id="map" class="relative w-full aspect-square" data-countries="{{ entry.set_of_countries | getCountryCodes }}">

    </div>

    <div class="flex flex-col bg-white border shadow-sm rounded-xl p-5">
        <h3 class="text-lg font-bold text-gray-800">
            Study countries
        </h3>
        <p class="mt-1 text-xs font-medium uppercase text-gray-500">
            {{ entry.name | transformFunding }}
        </p>
        <p class="mt-2 text-gray-500">
            Studies were conducted in the following {{ entry.set_of_countries | split('; ') | length }} countries:
        </p>
        <ul class="mt-4 -mx-5 px-5 flex flex-wrap gap-4 justify-between max-h-64 overflow-y-auto">
            {% for country in entry.set_of_countries | split('; ') %}
                <li><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-indigo-100 text-indigo-800">{{ country }}</span></li>
            {% endfor %}
        </ul>
    </div>
 
</main>