---
layout: base.njk
title: Details
css:
  - custom.css
  - tailwind.css
  - https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.min.css
  - https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css
js:
  - header.js
  - https://code.jquery.com/jquery-3.7.1.min.js
  - https://cdn.datatables.net/2.0.4/js/dataTables.min.js
  - https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js
  - https://cdn.jsdelivr.net/npm/apexcharts
  - https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js
  - library/datamaps.world.min.js
  - details.js
pagination:
  data: funding
  size: 1
  alias: entry
permalink: "details/{{ entry.name | transformFunding | slugify }}/"
---
<main class="flex flex-col gap-8 max-w-5xl p-4 mx-auto">
    <article class="mt-24 max-w-3xl">
        <h1 class="text-2xl">{{ entry.name | transformFunding }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus rerum laborum doloribus possimus incidunt soluta corrupti maiores animi! Corrupti provident nemo tempora ullam repellat dicta saepe esse repellendus quis totam?</p>
        {# <p class="mt-8">
            number_of_countries: {{ entry.number_of_countries }} <br>
            set_of_countries: {{ entry.set_of_countries }} <br>
            number_of_studies_with_updated_state_finalised: {{ entry.number_of_studies_with_updated_state_finalised }} <br>
            number_of_studies_with_updated_state_ongoing: {{ entry.number_of_studies_with_updated_state_ongoing }} <br>
            number_of_studies_with_updated_state_planned: {{ entry.number_of_studies_with_updated_state_planned }} <br>
            number_of_studies_with_rmp_1_(imposed_as_condition_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_2_(specific_obligation_of_marketing_authorisation): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }} <br>
            number_of_studies_with_rmp_3_(required): {{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }} <br>
            number_of_studies_with_rmp_non-eu_rmp_only: {{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }} <br>
            number_of_studies_with_rmp_not_applicable: {{ entry.number_of_studies_with_risk_management_plan_not_applicable }} <br>
            number_of_studies_with_rmp_nan: {{ entry.number_of_studies_with_risk_management_plan_nan }} <br>
            number_of_studies_with_result: {{ entry.number_of_studies_with_result }} <br>
            number_of_studies_with_protocol: {{ entry.number_of_studies_with_protocol }} <br>
            number_of_studies_with_past_data_collection: {{ entry.number_of_studies_with_past_data_collection }} <br>
            number_of_studies_with_past_data_collection_and_protocols: {{ entry.number_of_studies_with_past_data_collection_and_protocols }} <br>
            number_of_studies_with_two_weeks_past_final_report: {{ entry.number_of_studies_with_two_weeks_past_final_report }} <br>
            number_of_studies_with_two_weeks_past_final_report_and_results: {{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }} <br>
            study_ids: {{ entry.study_ids }} 
        </p> #}
    </article>

    <div id="docsBar"
        data-past-collection="{{ entry.number_of_studies_with_past_data_collection }}"
        data-past-collection-with-protocols="{{ entry.number_of_studies_with_past_data_collection_and_protocols }}"
        data-past-report="{{ entry.number_of_studies_with_two_weeks_past_final_report }}"
        data-past-report-with-results="{{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }}"
    ></div>

    <div class="flex flex-col lg:flex-row gap-8 justify-stretch">
        <div id="rmpPie" class="w-full"
            data-rmp1="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_1_(imposed_as_condition_of_marketing_authorisation)'] }}"
            data-rmp2="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_2_(specific_obligation_of_marketing_authorisation)'] }}"
            data-rmp3="{{ entry['number_of_studies_with_risk_management_plan_eu_rmp_category_3_(required)'] }}"
            data-rmp-non-eu="{{ entry['number_of_studies_with_risk_management_plan_non-eu_rmp_only'] }}"
            data-rmp-na="{{ entry.number_of_studies_with_risk_management_plan_not_applicable }}"
            data-rmp-ns="{{ entry.number_of_studies_with_risk_management_plan_nan }}"
        ></div>
        <div id="statePie" class="w-full"
            data-planned="{{ entry.number_of_studies_with_updated_state_planned }}"
            data-ongoing="{{ entry.number_of_studies_with_updated_state_ongoing }}"
            data-finalised="{{ entry.number_of_studies_with_updated_state_finalised }}"
        ></div>
    </div>

    <div>
        <div id="map" class="relative w-full aspect-square" data-countries="{{ entry.set_of_countries | getCountryCodes }}"></div>

        <div class="flex flex-col bg-white border shadow-sm rounded-xl p-5 my-8">
            <h3 class="text-lg font-bold text-gray-800">
                Study countries
            </h3>
            <p class="mt-1 text-xs font-medium uppercase text-gray-500">
                {{ entry.name | transformFunding }}
            </p>
            <p class="mt-2 text-gray-500">
                Studies were conducted in the following {{ entry.set_of_countries | split('; ') | length }} countries:
            </p>
            <ul class="mt-4 -mx-5 px-5 flex flex-wrap gap-4 justify-between max-h-64 overflow-y-auto">
                {% for country in entry.set_of_countries | split('; ') %}
                    <li><span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-indigo-100 text-indigo-800">{{ country }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="my-8">
        <table id="data" class="hover stripe row-border">
            <thead class="text-lg">
                <tr>
                    <th class="dt-head-left">EU&nbsp;PAS&nbsp;ID</th>
                    <th class="dt-head-left">State</th>
                    <th class="dt-head-left">Title</th>
                    <th class="dt-head-left">Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for id in entry.study_ids | split('; ') %}
                <tr>
                    <td class="tabular-nums">
                        {{ id }}
                    </td>
                    <td>
                        {{ studies[id].state }}
                    </td>
                    <td class="*:hover:underline *:hover:text-indigo-600 *:hover:decoration-indigo-600">
                        <a target="_blank" class="underline-offset-4 decoration-2 external-link" href="{{studies[id].url}}">{{ studies[id].title | truncate(150)}}</a>
                    </td>
                    <td class="tabular-nums">
                        {{ studies[id].registration_date | date }}
                    </td>
                </tr>
                {%- endfor -%}
            </tbody>
            {# <caption>
            List of all funders with percentages of reported protocols and results.
            </caption> #}
        </table>
    </div>
 
</main>