---
layout: base.njk
title: Home
tags: main
css:
  - main.css
  - tailwind.css
  - https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.min.css
  - https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css
js:
  - https://code.jquery.com/jquery-3.7.1.min.js
  - https://cdn.datatables.net/2.0.4/js/dataTables.min.js
  - https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js
  - main.js
---
<main class="max-w-5xl p-4 mx-auto">
  <article class="flex flex-col my-24 gap-6 max-w-3xl mx-auto">
    <h1 class="text-center text-4xl uppercase border-b-4 border-current inline-block mx-auto">The EMA-HMA PAS Tracker</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus rerum laborum doloribus possimus incidunt soluta corrupti maiores animi! Corrupti provident nemo tempora ullam repellat dicta saepe esse repellendus quis totam?</p>
    <p class="italic">Click header for ordering. <br> Shift + Click header for multi-column ordering. <br> Use quotes in search for exact matches. <br> Use ! in front of a word in search to exclude it from the results.</p>
  </article>
  <table id="data" class="hover stripe row-border">
    <thead class="text-lg">
      <tr>
        <th>Name</th><th>#</th><th>Results</th><th class="text-end">%</th><th>Protocols</th><th class="text-end">%</th>
      </tr>
    </thead>
    <tbody>
    {%- for entry in funding -%}
      <tr>
        <td class="text-lg *:hover:underline *:hover:text-indigo-600 *:hover:decoration-indigo-600">
          <a class="underline-offset-4 decoration-2 {% if entry.name | isSpecialFunding %} underline decoration-dotted {% endif %}" href="/details/{{ entry.name | transformFunding | slugify }}">{{ entry.name | transformFunding }}</a>
        </td>
        <td>
          {{ entry.num_studies }}
        </td>
        <td class="text-center">
          {{ entry.number_of_studies_with_two_weeks_past_final_report_and_results }} / {{ entry.number_of_studies_with_two_weeks_past_final_report }}
        </td>
        <td class="text-end">
          {% if entry.number_of_studies_with_two_weeks_past_final_report > 0 %}
            {{ (100 * entry.number_of_studies_with_two_weeks_past_final_report_and_results / entry.number_of_studies_with_two_weeks_past_final_report) | round(2) }}%
          {% endif %}
        </td>
        <td class="text-center">
          {{ entry.number_of_studies_with_past_data_collection_and_protocols }} / {{ entry.number_of_studies_with_past_data_collection }}
        </td>
        <td class="text-end">
          {% if entry.number_of_studies_with_past_data_collection > 0 %}
            {{ (100 * entry.number_of_studies_with_past_data_collection_and_protocols / entry.number_of_studies_with_past_data_collection) | round(2) }}%
          {% endif %}
        </td>
      </tr>
    {%- endfor -%}
    </tbody>
    {# <caption>
      List of all funders with percentages of reported protocols and results.
    </caption> #}
  </table>
</main>
