<footer class="max-w-5xl mx-auto mt-8 px-4">
  <div class="border-t-2 border-slate-200 py-4">
    Copyright © {% year %} - Created by {{ meta.author }} - <a class="underline" href="{{meta.github}}">Source code</a>
  </div>
</footer>