<footer class="max-w-5xl mx-auto mt-8 px-4">
  <div class="border-t-2 border-slate-200 py-4">
      Institute for Public Health (IPH) - Charité Universitätsmedizin Berlin - {% year %}
  </div>
</footer>