<head>
    <meta charset="UTF-8">
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{meta.author}}">
    <meta name="generator" content="{{meta.generator}}">
    <meta name="description" content="{% if description %}{{description}}{% else %}{{meta.description}}{% endif %}">
    <!-- Icon -->
    <link rel="icon" href="/assets/icon/favicon.svg">
    <link rel="mask-icon" href="/assets/icon/mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="/assets/icon/apple-touch-icon.png">
    <!-- CSS -->
    {% for style in css %}
        {% if style | isValidUrl %}
            {% css style %}
        {% else %}
            {% css ['/assets/css/', style] | join | url %}
        {% endif %}
    {% else %}
        {% css '/assets/css/tailwind.css' | url %}
    {% endfor %}
    <!-- JS -->
    {% for script in js %}
        {% if script | isValidUrl%}
            {% js script %}
        {% else %}
            {% js ['/assets/js/', script] | join | url %}
        {% endif %}
    {% else %}
        {% js '/assets/js/header.js' | url %}
    {% endfor %}
    <!-- Title -->
    <title>
        {% if title %}{{title}}{% else %}{{meta.title}}{% endif %}
    </title>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% cssNonCritical 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap&subset=latin,latin-ext'%}
</head>